/*
 * vim: ft=css
 * jedit: :mode=css:
 */
 
/* imports */
@import url(fonts/dejavusans-extralight.css);
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,700,100&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700);

@media screen and (max-width: 500px) {

	div.left-panel {
		position: normal;
		float: none;
	}

	body.page div.body {
		margin: 0;
		padding: 0;
	}

}

@media screen and (max-height: 750px) {
	body.home header div.pic {
		display: none;
	}
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
  background-color: #101010;
  color: #FFFFFF;
  margin: 0;
}

body.page {
  font-family: impact, helvetica, sans-serif;
  background-repeat: no-repeat;
  background-position: center 10px;
  background-attachment: fixed;
  padding: 0 12px 0 0;
  height: 100%;
}

div.left-panel {
	position: fixed;
	background-image: url(./left-logo.png?2012.11.01);
	background-repeat: no-repeat;
	background-position: 13px 23px;
	padding: 230px 13px 13px 13px;
	width: 269px;
	background-color: #252525;
	border-right: 3px solid #666666;
	height: 100%;
}

	div.left-panel ul.links {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: right;
		float: right;
		width: 70px;
	}
	
	div.left-panel ul.links li a {
		font-family: tahoma;
		font-size: 8pt;
		text-decoration: none;
		display: block;
		padding: 4px 0 4px 13px;
		color: #777;
	}
	
	div.left-panel ul.links li a:hover {
		border-right: 3px solid #ccc;
		color: #ccc;
		padding-left: 0;
		padding-right: 13px;
		position: relative;
		left: 16px;
	}
	
	div.left-panel ul.links li.ext a:hover {
		border-color: #5ca4ff;
		color: #5ca4ff;
	}
	
	div.left-panel ul.links li.youarehere a {
		border-right: 3px solid #ffcd00;
		color: #ffcd00;
		padding-left: 0;
		padding-right: 13px;
		position: relative;
		left: 16px;
	}
	
	div.left-panel ul.links li.ext {
		background-image: url(./external-glyph.png);
		background-repeat: no-repeat;
		background-position: left center;
	}
	
	div.left-panel div.copyright {
		position: fixed;
		left: 13px;
		bottom: 13px;
		font-family: tahoma, arial, helvetica, sans-serif;
		font-size: 8pt;
		color: #777;
		text-transform: lowercase;
	}
	
		div.left-panel div.copyright a:link, div.left-panel div.copyright a:visited {
			color: #777;
		}

a:link, a:visited {
  color: #777;
  text-decoration: underline;
}

acronym, abbr {
  cursor: help;
}

address, div.text.footer {
  color: #999;
  width: 650px;
  margin: 80px auto 10px auto;
  font-style: normal;
}

address.wp-copyright {
  margin: 80px auto 0 auto;
  text-align: center;
}

body.page div.body {
	margin-left: 320px;
	padding-top: 30px;
}

h1 {
	font-weight: normal;
	font-size: 32pt;
}

body.page h1, body.page h2, body.page h3, body.page h4 {
	font-weight: normal;
	letter-spacing: 1px;
}

p, div.body ul, div.body ol, header ul, section ul {
	font-family: dejavu sans mono, monaco, lucida console, monospace;
	font-size: 12pt;
	line-height: 160%;
	color: #aaa;
}

div.footnotes {
	margin-top: 4em;
}

	div.footnotes ol {
		padding-left: 1.5em;
	}

	div.footnotes ol li, div.footnotes ol li p {
		font-size: small;
		color: #555;
	}

	div.footnotes hr {
		border-width: 1px 0 0 0;
		border-style: solid;
		border-color: #333;
	}

/* homepage */
body.home {
	background-color: white;
}

section, header {
	margin: 0;
	padding: 0;
}

	body.home div.body-wrapper {
		height: 100%;
	}

	body.home header, body.home section {
		min-height: 77%;
		padding-top: 8%;
		padding-bottom: 8%;
	}
	
	body.home header, body.home section, body.home section div.section-wrapper.has-background {
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center center;
		background-size: cover;
		background-color: white;
	}
	
	body.home section div.band div.section-wrapper.has-background {
		padding-left: 15%;
		padding-right: 15%;
	}
	
	body.home header {
		text-align: center;
		background-image: url(ferris.jpg);
	}
	
	body.home section.work {
		background-image: url(sysadmin.jpg);
	}
	
	body.home section.keys {
		background-image: url(keys.jpg);
	}
	
	body.home section.cars {
		background-image: url(ms3.jpg);
	}
	
	body.home section.contact {
		background-image: url(norwalk.jpg);
	}
	
	body.home section.contact {
		background-color: #404040;
		text-align: center;
	}
	
		body.home section.contact h2 {
			font-size: 48pt;
			margin: 1em 0;
			font-weight: normal;
		}
	
	body.home div.band div.section-wrapper {
		width: 70%;
		padding: 2em;
		margin: 0 auto;
	}
	
	body.home div.pic {
		display: table;
		margin: 0 auto 2em auto;
	}
	
	body.home p, body.home div.section-wrapper ul {
		font-family: Roboto, dejavu sans, arial, helvetica, sans-serif;
		font-weight: 300;
		font-size: 14pt;
	}
	
	h1.home-header {
		margin: 5px 0;
		font-size: 56pt;
		font-family: Roboto Slab, helvetica, sans-serif;
		font-weight: 700;
	}
	
	body.home h2, body.home h3 {
		margin: 5px 0;
		font-family: Roboto, helvetica, sans-serif;
		font-weight: 700;
	}
	
	body.home header div.scroller {
		margin-top: 2em;
	}
	
	/* "Light" screens */
	body.home header {
		padding-top: 4%;
		min-height: 92.5%;
	}
	
	body.home header div.band {
		background-color: rgba(255, 255, 255, 0.6);
	}
	
	body.home div.band, body.home div.band p, body.home div.band ul {
		color: #444;
	}
	
	body.home div.band a:link, body.home div.band a:visited {
		color: #333;
		text-decoration: underline;
	}
	
	/* "Dark" screens */
	body.home div.band.dark, body.home div.band.dark p, body.home div.band.dark ul {
		color: #eee;
	}
	
	body.home div.band.dark a:link, body.home div.band.dark a:visited {
		color: #fff;
		text-decoration: underline;
	}
	
	body.home div.band.dark p, body.home div.band.dark ul {
		color: #eee;
	}
	
	body.home div.band.dark {
		background-color: rgba(0, 0, 0, 0.7);
	}
	
	body.home div.footer {
		position: fixed;
		bottom: 5px;
		right: 5px;
		font-family: tahoma;
		font-size: 8pt;
		text-transform: lowercase;
		color: #aaa;
	}

/* "quick facts" box */
body.home div.quickfacts {
	
}

	body.home div.quickfacts ul {
		margin: 0 auto;
		padding: 0;
		list-style-type: none;
		display: table;
	}
	
	body.home div.quickfacts ul li {
		float: left;
		padding: 0 1.2em;
		font-size: smaller;
	}
	
	body.home div.band div.quickfacts ul li a {
		text-decoration: none;
	}
	
	body.home div.quickfacts ul.social-media {
		margin-top: 3em;
	}
	
	body.home div.quickfacts ul.social-media i.fa {
		font-size: 28pt;
	}
	
	/* light */
	body.home div.band div.quickfacts ul li:hover, body.home div.band div.quickfacts ul li:hover a {
		color: #222;
	}
	
	body.home div.band div.quickfacts i.fa {
		color: #333;
	}
	
	body.home div.band div.quickfacts ul li a.icon-only-link:hover {
		text-shadow: 0 0 7px rgba(82, 168, 236, 0.6);
	}
	/* /light */
	
	/* dark */
	body.home div.band.dark div.quickfacts ul li:hover, body.home div.band.dark div.quickfacts ul li:hover a {
		color: #ccc;
	}
	
	body.home div.band.dark div.quickfacts i.fa {
		color: white;
	}
	
	body.home div.band.dark div.quickfacts ul li a.icon-only-link:hover {
		text-shadow: 0 0 7px rgba(255, 255, 255, 0.7);
	}
	/* /dark */
	
	body.home div.quickfacts ul li a.icon-only-link {
		font-size: large;
	}
	
/* Twitter feed (though that hasn't been on the homepage for a while) */
div.twat {
	border-top: 1px solid #444;
}
	
	div.twat h3 {
		color: #ccc;
	}
	
	div.twat h3 a:link, div.twat h3 a:visited {
		color: #eee;
		text-decoration: none;
		
	}
	
	div.twat a.timestamp {
		font-size: small;
		text-decoration: none;
	}

		div.twat a.timestamp:hover {
			text-decoration: underline;
		}

	div.twat div.cred {
		font-family: tahoma, arial, helvetica, sans-serif;
		color: #333;
		font-size: 8pt;
		float: right;
		padding-top: 1em;
	}
	
	div.twat div.cred a:link {
		color: #444;
	}

/* blog styles */
body.blog {
	background-color: #181818;
	background-image: url(/res/blogimg/bg.png);
	background-repeat: repeat-x;
	background-position: center top;
	margin: 0;
	padding: 0;
}
body.blog p, body.blog ul {
	font-family: verdana, sans-serif;
	font-size: 9pt;
}
div.breadcrumbs {
	padding: 13px 0;
	font-family: verdana, sans-serif;
	font-size: 13px;
	color: #aaa;
}
div.breadcrumbs a {
	color: white;
	text-decoration: none;
	
}
div.breadcrumbs a:hover {
	text-decoration: underline;
}
div.breadcrumbs div.breadlinks {
	float: right;
}
div.breadcrumbs div.breadlinks ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
div.breadcrumbs div.breadlinks ul li {
	float: left;
}
div.breadcrumbs div.breadlinks ul li:before {
	content: '|';
	color: #666;
	padding: 0 5px;
}
div.breadcrumbs div.breadlinks ul li:first-child:before {
	content: '';
}
div.breadcrumbs div.breadlinks li.search form {
	display: inline;
}
div.breadcrumbs div.breadlinks li.search div {
	display: inline;
}
div.breadcrumbs div.breadlinks li.search input {
	background-color: #222;
	color: #aaa;
	border: 1px solid #777;
	padding: 1px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	width: 120px;
}
body.blog h1, body.blog div.text, .upcase {
	text-transform: none;
}
body.blog h1 {
	font-size: 350%;
}
div.blog-wrap {
	width: 900px;
	margin: 0 auto;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.03);
}
div.blog-header {
	background-image: url(/res/blogimg/header.png);
	line-height: 148px;
}
div.blog-header a.mainlink {
	display: block;
	text-decoration: none;
}
div.blog-header h1, div.blog-header h2 {
	margin: 0 20px 0 0;
	text-align: left;
	padding: 0;
	width: 100%;
	text-transform: lowercase;
	display: none;
}
div.post div.date {
	background-color: rgba(0, 0, 0, 0.4);
	float: right;
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
	width: 50px;
}
div.post h3.title {
	text-align: left;
	width: 100%;
	margin: 20px 0;
	padding: 0;
	font-weight: normal;
}
div.post h3.title a {
	color: white;
	text-decoration: none;
	font-size: 300%;
}
div.post div.post-tail {
	margin: 20px 0;
	padding: 7px;
	font-family: verdana, sans-serif;
	font-size: 9pt;
	background-color: rgba(255, 255, 255, 0.05);
}
div.post div.post-tail div.left {
	float: left;
}

div.post div.post-tail div.right {
	float: right;
}
div.post div.post-body {
	border-width: 0 7px;
	border-color: #666;
	border-style: solid;
	padding: 1px 20px;
	line-height: 180%;
}
div.post div.post-body blockquote {
	padding: 10px;
	border: 1px dotted #aaa;
	background-color: rgba(0, 0, 0, 0.2);
}
div.navigation {
	text-align: center;
}
div.navigation a {
	font-size: 350%;
	font-family: impact, sans-serif;
	font-weight: bold;
	color: white;
	text-decoration: none;
	padding: 5px 15px;
	background-color: #262626;
}
div.post.comment {
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.05);
}
div.post.comment div.left {
	float: left;
	margin-right: 20px;
}
div.post.comment div.comment_author {
	font-size: x-large;
}
div.post.comment div.comment_author a {
	text-decoration: none;
}
div.post.comment.alt {
	background-color: rgba(255, 255, 255, 0.05);
}
h2.label {
	font-weight: normal;
}
div.clearer {
	clear: both;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
